@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    890 Fifth Avenue<br />
    Manhattan, New York City 3000<br />
    <abbr title="Phone">Phone:</abbr>
    414.138.3000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Saitama@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Avengers@example.com</a>
</address>